.status-red {
    color: red;
    text-shadow: 0.5px 0.5px 1px #000;
    font-size: 16px;
  }
  
  .status-yellow {
    color: yellow;
    text-shadow: 0.5px 0.5px 1px #000;
    font-size: 16px;
  }
  
  .status-green {
    color: green;
    text-shadow: 0.5px 0.5px 1px #000;
    font-size: 16px;
  }
  