<div class="px-4 py-5 my-2 text-center">
    <h1 class="display-5 fw-bold">KASET FAIR 2024 | สำหรับจองสถานที่</h1>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4 my-5">งานเกษตรแฟร์ ประจำปี 2567 จัดเต็ม 9 วัน 9 คืน ระหว่างวันที่ 11-19 ธันวาคม 2567
        </p>
        <p class="lead mb-4 my-2">ณ มหาวิทยาลัยเกษตรศาสตร์ เฉลิมพระเกียรติ สกลนคร</p>  
        <p class="lead mb-4 my-2">เปิดตั้งแต่เวลา 10.00-22.00 น.
            __________________________________________________________________________________
        </p> 
        <p class="lead mb-4 my-2">(เริ่มจองสถานที่ได้ตั้งแต่ วันนี้ ถึง วันที่ 7 ธันวาคม 2567)</p>
        <button class="btn btn-outline-success" [routerLink]="['booking']">เลือกสถานที่ได้ที่นี่</button>
    </div>
    <br><br>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @for(post of data; track post.zone_id) {
          <div class="col">
            <div class="card shadow-sm">
              <a (click)="openModal(post)">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" [src]="'assets/img/zone/'+post.img" alt="{{post.img}}" role="img" style="cursor: pointer;">
              </a>
              <div class="card-body">
                <div class="d-flex flex-column h-100">
                  <div class="d-flex justify-content-between align-items-center">
                    <h3 class="truncate-text"><b>{{post.zone_name}}</b></h3>
                  </div>
                  <p><b>กิจกรรม/งาน : </b>{{post.event_name}}</p><br>
                  <div class="mt-auto">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-success" (click)="openModal(post)">
                          เลือกดูบูธ
                        </button>
                      </div>
                      <small>
                        <b>จำนวน : </b>{{post.amount_booth}} บูธ
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
      
</div>