<nav class="navbar navbar-expand-lg rounded justify-content-center justify-content-md-between mb-4 border-bottom py-0"
    aria-label="Thirteenth navbar example">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11"
            aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
            <a class="navbar-brand col-lg-3 me-0" [routerLink]="['/admin']">

                <h1 class="m-2">ADMIN PAGE</h1>
            </a>

            <ul class="navbar-nav col-lg-6 justify-content-lg-center">
                <li class="nav-item mx-2">
                    <a class="nav-link" mat-fab extended [routerLink]="['event']">
                        กิจกรรม/งาน
                    </a>
                </li>
                <li class="nav-item" style="cursor: pointer; display: flex; align-items: center;">
                    <a class="nav-link mx-2" mat-fab extended [routerLink]="['user']" >
                        ข้อมูลผู้ใช้
                    </a>
                </li>
                
            </ul>
            <a class="nav-link" (click)="logout()"
                style="color: #ff0000; cursor: pointer; display: flex; align-items: center;"><mat-icon class="mx-2">exit_to_app</mat-icon>
                ออกจากระบบ
            </a>
        </div>
    </div>
</nav>